body {
  background-color: crimson;
  color: antiquewhite;
  font-family: Verdana;
}

header {
  width: 100%;
  display: flex;
  border-bottom: 0.5vh solid antiquewhite;
}

header>nav {
  width: 50%;
  display: flex;
  justify-self: flex-start;
  justify-content: space-around;
  padding: 1%;
}

nav>a {
  color: antiquewhite;
  text-decoration: none;
  font-size: xx-large;
}

#game>tr>td {
  min-width: 5vw;
  background-color: black;
}