body {
  background-color: crimson;
  color: antiquewhite;
  font-family: Verdana;
}

header {
  width: 100%;
  display: flex;
  border-bottom: 0.5vh solid antiquewhite;
}

main {
  width: 100%;
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

form {
  justify-self: center;
}

header>nav {
  width: 50%;
  display: flex;
  justify-self: flex-start;
  justify-content: space-around;
  padding: 1%;
}

button {
  color: antiquewhite;
  background-color: black;
  font-size: x-large;
}


nav>a {
  color: antiquewhite;
  text-decoration: none;
  font-size: xx-large;
}

th {
  font-size: xx-large;
}

td {
  font-size: x-large;
}

#game>tr>td {
  min-width: 5vw;
  font-size: xx-large;
  background-color: black;
}

@media screen and (max-width: 1030px) {
  nav>a {
    color: antiquewhite;
    text-decoration: none;
    font-size: x-large;
  }
}

@media screen and (max-width: 500px) {
  header>nav {
    width: 50%;
    display: flex;
    justify-self: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1%;
  }

  nav>a {
    color: antiquewhite;
    text-decoration: none;
    width: 100%;
    font-size: x-large;
    padding: 2%;
  }
}